@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    color: #fff;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;
    --color-primary: #131313;
    --color-secondary: #1f2528;
    --color-tertiary: #26343a;
    --color-accent: #00889E;
}

html, body {
height: 100vh;
width: 100vw;
font-size: 1.6rem;
overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scroll-style-horizontal::-webkit-scrollbar {
    height: 0.5rem;
    width: 100%;
}

.scroll-style-vertical::-webkit-scrollbar {
    width: 0.5rem;
    height: 100%;
}

.scroll-style::-webkit-scrollbar-track {
    background: whtie;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 1rem;
}

input#slider[type='range'] {
    height: 1rem;
    -webkit-appearance: none;
    width: 100%;
}

input#slider[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 2rem;
    cursor: pointer;
    background: var(--color-secondary);
}

input#slider[type='range']::-webkit-slider-thumb {
    height: 2rem;
    width: 2rem;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
}